## GitHub Backup
# https://github.com/th33xitus/kiauh/wiki/How-to-autocommit-config-changes-to-github%3F

[gcode_shell_command backup_cfg]
command: sh /home/pi/klipper_config/Scripts/autocommit.sh
timeout: 30.
verbose: True

[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

#[delayed_gcode auto_backup]
#initial_duration: 1
#gcode:
#    BACKUP_CFG